.banner-container {
    height: 40vh;
    width: 100%;
    background-position: bottom;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#event-img {
    background-position: center !important;
}

.banner-container-page {
    height: 20vh;
    width: 100%;
    background-position: bottom;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.banner-text {
    margin-left: 11rem;
    color: #ececf1;
    line-height: 1.5;
}

@media screen and (max-width: 800px) {
    .banner-container,
    .banner-container-page {
        height: 34vh;
    }
    .banner-text {
        margin-left: 3rem;
    }
}