.footer {
    display: flex;
    justify-content: center;
    height: 30rem;
    background-color: #382121;
    color: #ececf1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 4rem;
    align-items: baseline;
}

.footer-navigation {
    display: flex;
    justify-content: space-around;
    width: 60%;
    
}

.nav-list {
    padding: 0 2rem;
}

.nav-list ul {
    list-style: none;
    line-height: 1.5;
}

.nav-list li a {
    color: #ececf1;
    font-size: 1.8rem;
    text-decoration:  none;
}

.nav-list li a:hover {
    color: #b4b4bd;
    text-decoration: underline;
    
}

.social-icons-list {
    display: flex;
}

.social-icons-list li {
    padding: 1rem;
}