.post-list {
    grid-row: 2;
}

.post-item {
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    padding: 2rem;
}

.post-item:not(:last-child) {
    border-bottom: 1px solid #382121;
}

.post-title {
    padding: 1rem 0;
    text-transform: capitalize;
}

.post-item a {
    color: #382121;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.post-metabox {
    background-color: rgb(252, 250, 164);
    padding: 1rem 0;
}

.post-metabox p {
    padding-left: 1rem;
}

.generic-content p {
    padding: 1.5rem 0;
}

.post-btn {
    color: #ececf1 !important;
    font-weight: 300 !important;
}

.single-program-img {
    background-position: center !important;
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
}